/** @format */
html{
  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #0f172a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 70px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .icons {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header .icons h1 {
  color: #f8fafc;
}

.header .icons img {
  width: 100%;
  border-radius: 0 60% 0 60%;
  background: white;
  position: relative;
  box-shadow: -4px -4px 7px rgb(5, 194, 237), 4px 4px 7px rgb(3, 254, 158);
  transition: all 0.3s ease-in-out;
}

.header .icons img:hover {
  box-shadow: -4px -4px 7px rgb(3, 254, 158), 4px 4px 7px rgb(5, 194, 237);
}

.header .pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.header .pages a {
  text-decoration: none;
  font-weight: 500;
  color: #38bdf8;
  border-radius: 8px;
  padding: 6px 8px;
  transition: all 0.4s ease;
  display: inline-block;
  box-shadow: 0 4px 14px rgba(56, 189, 248, 0.15);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.header .pages a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, #0ea5e9, #38bdf8, #0ea5e9);
  opacity: 0.1;
  transition: all 0.5s ease;
  z-index: 0;
}

.header .pages a:hover::before {
  left: 0;
  opacity: 0.2;
}

.header .pages a:hover {
  color: #ffffff;
  box-shadow: 0 8px 24px rgba(56, 189, 248, 0.4);
  background: linear-gradient(#1e293b, #1e293b) padding-box,
    linear-gradient(135deg, #7dd3fc, #0ea5e9, #38bdf8) border-box;
}

.hamburger {
  display: none;
  font-size: 26px;
  color: #38bdf8;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 842px) {
  .pages {
    position: fixed;
    top: 0;
    right: -100%;
    height: 50vh;
    width: 50%;
    max-width: 130px;
    backdrop-filter: blur(5px);
    background-color: rgba(15, 23, 42, 0.8);
    padding: 80px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    transition: right 0.4s ease;
    z-index: 999;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .pages.show {
    right: 0;
  }

  .hamburger {
    display: block;
    z-index: 1000;
    color: #38bdf8;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px 15px;
  }

  .header .icons {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  }

  .header .icons h1 {
    color: #f8fafc;
    font-size: 25px;
  }
}
